@model IEnumerable<ChurchWebApp_Web.Areas.Admin.Models.DepartmentVM>

@{
    ViewBag.Title = "depatrments";
    Layout = "~/Views/Shared/_AdminTable.cshtml";
}

<div class="space15"></div>
<section id="flip-scroll">
    <table class="display table table-bordered table-striped table-condensed cf" id="dynamic-table">
        <thead class="cf">
            <tr>

                <th>Name</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.department_name</td>



                    <td>
                        <div class="btn-group">
                            @*<a class="btn btn-default" href="#">Actions</a>*@
                            <a class="btn btn-primary dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @*<li><a href='@Url.Action("Details","Organization",new { id=item.id})'>Details</a></li>*@
                                <li>
                                    <a id="departmentdeleteItem" class="departmentdeleteItem" data-target="#departmentbasic" data-toggle="modal" data-id="@item.id">Delete</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("editdepartment","Department",new { id=item.id})'>Edit</a>
                                </li>
                            </ul>
                        </div>
                    </td>

                </tr>
            }


        </tbody>
    </table>
</section>
<div class="modal fade" id="departmentbasic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Department?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="departmentbtnContinueDelete" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>